@import "../bootstrap/css/bootstrap.min.css";
@import "~bootstrap/scss/bootstrap";
@import "variables";

#formula-form {
  padding-bottom: 200px;

  .loading {
    margin: 0 0.5em;
  }

  section {
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .jstree-leaf[data-selectable="0"] {
    display: none;
  }

  .alert {
    margin: 1em 0;
  }

  .progress-bar-container {
    margin: 1em 0;
  }
}

li[data-selectable="0"] {
  > a {
    i.jstree-checkbox {
      display: none;
    }
  }
}

#jstree {
  max-height: 300px;
  overflow: auto;
}

.jstree-default .jstree-leaf > i.jstree-icon {
  width: 0;
}

#jstree-search-container {
  button {
    margin-left: 15px;
  }
}

table.ranking-results {
  margin-top: 30px;

  thead {
    th {
      font-size: 1.5rem
    }
  }

  th {
    font-weight: normal;
    word-break: normal;

    &.rank-number {
      font-size: 2em;
      font-weight: bold;
      text-align: center;
      width: 50px;
    }
  }

  td {
    word-break: normal;
  }

  .school-name {
    font-size: 1.5rem;
  }

  .year {
    color: #666;
    font-size: 80%;
    margin-left: 10px;

    &::before {
      content: '(';
    }

    &::after {
      content: ')';
    }
  }

  .col-sm-6:first-child {
    padding-bottom: 30px;
  }

  .data-completeness-warning {
    padding: 0.25rem 1.25rem;
  }
}

#criteria {
  > div {
    margin-bottom: 2px;
    margin-top: 2px;
    padding: 5px;
  }
  .col-2 {
    text-align: right;
    top: -5px;
  }
  .metric-name {
    font-weight: bold;
  }
  .weight-input {
    margin-top: 2rem;
  }
  .input-range__label--value {
    top: -2.5rem;

    .input-range__label-container {
      color: #000;
      font-size: 1rem;
    }
  }
  .input-range__label {
    font-family: $font-family-sans-serif;
  }
  .input-range__track--active,
  .input-range__slider {
    background-color: $primary;
    border: none;
  }
  .input-range__label--min,
  .input-range__label--max, {
    display: none;
  }
  .input-range__slider {
    height: 1.5rem;
    margin-top: -0.85rem;
    width: 1.5rem;
  }
}

.options-breakdown {
  margin-left: 20px;
}

.school-info {
  margin-bottom: 30px;
}

.text-danger {
  button {
    margin-left: 1em;
    vertical-align: baseline;
  }
}

ul.stats-ranked {
  padding-left: 0;
}

li.stat-ranked {
  list-style-type: none;
  padding-left: 30px;

  i, svg {
    float: left;
    margin-left: -30px;
    margin-top: 5px;
  }
  > span {
    display: block;
    font-size: 90%;
  }
  > span:first-of-type {
    font-size: 120%;
  }
}

.stat-ranked-1 {
  > span:first-of-type {
    font-weight: bold;
  }

  i, svg {
    color: #C9B037;
  }
}

.stat-ranked-2 {
  i, svg {
    color: #B4B4B4;
  }
}

.stat-ranked-3 {
  i, svg {
    color: #AD8A56;
  }
}

table.statistics {
  margin-top: 1em;
}

#demo-fill-in {
  margin-left: 1em;
}

.missing-data {
  font-style: italic;
  color: $text-muted;
}

.data-completeness-warning {
  button {
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: baseline;
  }

  p {
    margin-bottom: 0;

    &:not(:first-child) {
      margin-top: 1rem;
    }
  }
}

.formula-form-group {
  border: 1px solid transparent;
  margin: 10px;
  padding: 10px;
}

#formula-section-what {
  border: 1px solid $primary;
  border-radius: 10px;
}

#page-rank {
  > div.container {
    h1 {
      border-bottom: 1px solid $primary;
      padding-bottom: 5px;
    }
  }
}

#steps-header {
  font-weight: bold;
  margin-bottom: 30px;

  img {
    height: 65px;
  }
  div.col-1 {
    text-align: right;
  }
  div.col-3 {
    vertical-align: middle;
  }
}
