li[data-selectable="0"] {
  > a {
    i.jstree-checkbox {
      display: none;
    }
  }
}
#jstree {
  max-height: 300px;
  overflow: auto;
}
#jstree-search-container {
  button {
    margin-left: 15px;
  }
}
