@import "../bootstrap/css/bootstrap.min.css";

#formula-form {
  .loading {
    margin-left: 10px;
  }
  section {
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .jstree-leaf[data-selectable="0"] {
    display: none;
  }
}
li[data-selectable="0"] {
  > a {
    i.jstree-checkbox {
      display: none;
    }
  }
}
#jstree {
  max-height: 300px;
  overflow: auto;
}
.jstree-default .jstree-leaf > i.jstree-icon {
  width: 0;
}
#jstree-search-container {
  button {
    margin-left: 15px;
  }
}
table.ranking-results {
  margin-top: 30px;

  thead {
    th {
      font-size: 1.5rem
    }
  }
  th {
    font-weight: normal;

    &.rank-number {
      font-size: 2em;
      font-weight: bold;
      text-align: center;
      width: 50px;
    }
  }
  .school-name {
    font-size: 1.5rem;
  }
  .metric-name {
    font-weight: bold;
  }
  .year {
    color: #666;
    font-size: 80%;
    margin-left: 10px;

    &::before {
      content: '(';
    }
    &::after {
      content: ')';
    }
  }
  .col-sm-6:first-child {
    padding-bottom: 30px;
  }
  .data-completeness-warning {
    padding: 0.25rem 1.25rem;
  }
}
#criteria {
  > div {
    margin-bottom: 2px;
    margin-top: 2px;
    padding: 5px;
  }
  .metric-name {
    font-weight: bold;
  }
}
#school-type-options-breakdown {
  margin-left: 20px;
}
