@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

@import "cake.css";
@import "variables";
@import "~bootstrap/scss/bootstrap";

body > .container {
    margin-top: 30px;
}

footer {
  margin-top: 3em;

  li {
    padding: 0 2em;
  }
  a {
    color: $text-muted;
  }
}

section.terms {
  margin: 2em 0;
}
