@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

@import "cake.css";
@import "variables";
@import "~bootstrap/scss/bootstrap";

body > .container {
    margin-top: 30px;
}

footer {
  margin-top: 3em;

  li {
    padding: 0 2em;
  }
  a {
    color: $text-muted;
  }
}

section.terms {
  margin: 2em 0;
}

#welcome {
  padding-left: 0;
  padding-right: 0;

  > div:nth-child(1) {
    background-image: url('/img/pencils.jpg');
    background-position: bottom;
    background-size: cover;
    box-shadow: 0px -90px 50px -50px rgba(0, 0, 0, 0.3) inset;
    max-height: 700px;
    min-height: 500px;
    padding: 30px;
    text-align: center;

    .btn {
      margin-top: 30px;
    }
    h1 {
      color: #54585a;
      font-weight: bold;
    }
    .container {
      padding: 15px;
    }
    .col-12 {
      background-color: rgba(233, 231, 234, 0.5);
      border-radius: 10px;
      box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
      padding: 15px;
    }
  }
  > div:nth-child(2) {
    background-color: #e9e7ea;
    font-weight: bold;

    > div {
      padding-bottom: 10px;
      padding-top: 30px;
      text-align: center;
    }
  }
  > div:nth-child(3) {
    background-color: #e9e7ea;

    > div {
      padding-bottom: 30px;
      text-align: center;
    }
    img {
      height: 100px;
    }
  }
  > div:nth-child(4) {
    background-color: #ba0c2f;
    color: #fff;
    padding-bottom: 30px;
    padding-top: 30px;

    p.link {
      text-align: center;
    }
    h2 {
      font-size: 2em;
      text-align: center;
    }
  }
}

#welcome-contact {
  background-color: #fff;
  border: 1px solid #000;
}

footer {
  background-image: url('/img/supplies.jpg');
  background-size: cover;
  background-position: center;


  div.col-4 {
    padding-bottom: 30px;
    padding-top: 30px;
  }
}

nav {
  > .container {
    overflow: visible;
  }
}
